nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100dvw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  position: fixed;
}

nav span{
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

nav p b{
  font-weight: 600;
}

.tweet-btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}