nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100dvw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

nav p b {
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

.tweet-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#down-arrow {
  color: #ff4000;
  transition: 0.5s ease;
  animation: hovering 1s ease-in-out infinite;
  position: absolute; /* Position the icon relative to its container */
  top: 83%; /* Position it vertically at the center */
  transform: translateY(-50%, -50%); /* Adjust for vertical centering */
}

@keyframes hovering {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#down-arrow:hover {
  color: #ffcb71;
  filter: drop-shadow(0 0 1.5rem #ffffff);
  font-size: 2rem;
  cursor: pointer;
}

.down-arrow-click {
  color: #060e28 !important;
  font-size: 1rem !important;
}

/* SMARTPHONE */
@media only screen and (max-width: 750px) {
  nav {
    background-color: #d68800;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    position: static;
  }

  #down-arrow {
    color: #4056a1;
  }

  #down-arrow:hover {
    color: #ffffff;
  }
}

/* TABLET */
@media only screen and (min-width: 750px) and (max-width: 1024px) {
  nav {
    background-color: #d68800;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    position: static;
  }

  #down-arrow {
    color: #4056a1;
  }

  #down-arrow:hover {
    color: #ffffff;
  }
}
